.container {
  padding: 0 5rem;
  overflow: hidden;
  position: relative;
}

h1 {
  text-align: center;
  color: white;
}

a {
  color: white;
}

.container-section {
  display: flex;
  margin-bottom: 5rem;
  transition: transform 0.8s ease-in;

  &:hover .item {
    transform: translateX(-10%);
  }
}

.section-title {
  text-align: left;
  margin: 20px 0;
}

.wrapper {
  width: 100%;
  position: relative;
}

.prevArrow {
  position: absolute;
  top: 35%;
  left: -3%;
  z-index: 1;

  img {
    width: 20%;
  }
}

.nextArrow {
  position: absolute;
  top: 35%;
  right: -15%;
  z-index: 1;
  img {
    width: 20%;
  }
}
